In [ ]:
import pandas as pd
import random
import numpy as np
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
dataset = pd.read_csv('census.csv')

In [ ]:
dataset['income'].value_counts()

income
 <=50K    24720
 >50K      7841
Name: count, dtype: int64

In [ ]:
24720 / len(dataset) , 7841 / len(dataset)

(0.7591904425539756, 0.2408095574460244)

In [ ]:
100 / len(dataset)

0.0030711587481956942

In [ ]:
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)
for x, y in split.split(dataset, dataset['income']):
  df_x = dataset.iloc[x]
  df_y = dataset.iloc[y]

In [ ]:
df_x.shape, df_y.shape

((32461, 15), (100, 15))

In [ ]:
df_y['income'].value_counts()

income
 <=50K    76
 >50K     24
Name: count, dtype: int64